<?xml version="1.0"?>
<odoo>

    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="test1_hosbital,static/description/icon2.png"
              sequence="0"/>

    <menuitem id="menu_patient_master"
              name="Patients Details"
              parent="menu_hospital_root"
              sequence="0"/>



</odoo>
